<nav class="navbar">
  <%= link_to root_path do %>
    <%= image_tag 'logo.png', :class => 'navbar-brand' %>
  <% end %>

  <ul class="navbar-nav">
    <li class="navbar-item"><a href="/signin" class="btn btn-inverse">Sign in</a></li>
    <li class="navbar-item"><a href="/signup" class="btn btn-inverse">Sign up</a></li>
    <li class="navbar-item"><a href="/download" class="btn">Download app</a></li>
  </ul>
</nav>
