/**
 * content.scss - Main content
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 */

.main {
  .section {
    margin-bottom: 10rem;

    &:nth-child(2n) {
      background-color: $color-section;
    }

    @include mobile {
      padding: 5rem 3rem;
    }

    @include desktop {
      padding: 5rem 25%;
    }
  }
}

.showcase {
  margin: 4rem auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }

  .showcase-icon {
    color: $color-subtitle;

    @include mobile {
      width: 100%;

      margin-bottom: 3rem;
    }

    .fa {
      font-size: 5em;
      display: block;

      margin-bottom: 1rem;
    }
  }

  .showcase-text {
    font-size: 1.5em;

    @include mobile {
      font-size: 2em;
    }
  }
}
