/**
 * footer.scss - Footer
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 */

.footer {
  padding: 3rem 2rem;

  display: flex;
  justify-content: space-around;

  @include hyperlink(lighten(black, 60%), underline);
  color: lighten(black, 60%);
  font-size: .9em;

  @include mobile {
    font-size: 2em;
  }

  .footer-wrapper {
    padding: 3rem 5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;

    border-top: 1px solid $color-section;

    width: 40%;

    @include mobile {
      flex-direction: column;

      width: 100%;
    }
  }

  .footer-block {
    position: relative;

    padding: 0 3rem;
    margin-bottom: 2rem;

    width: 200px;

    flex: 1;

    @include mobile {
      padding: 0 5rem;

      width: 300px;
    }

    &.footer-block-2x {
      flex: 2;
    }
  }

  .footer-text,
  .footer-brand,
  .footer-title {
    margin-bottom: 1rem;
  }

  .footer-brand {
    font-family: Pacifico, serif;
    font-size: 2em;

    color: lighten(black, 50%);
  }

  .footer-title {
    color: $color-primary;
  }

  .footer-list {
    list-style: none;

    padding: 0;
  }

  .footer-icons {
    margin-top: 1rem;

    @include desktop {
      position: absolute;
      bottom: 0;
    }
  }
}
