/**
 * links.scss - Hyperlinks
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 */

@mixin hyperlink($color, $decoration) {
  a,
  a:visited {
    color: $color;

    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: $decoration;
    }
  }

}
