/**
 * navbar.scss - Navbar
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 */

.navbar {
  padding: 3rem 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;

  @include mobile {
    flex-direction: column;

    font-size: 2em;
  }

  .navbar-brand {
    display: inline-block;

    align-self: flex-start;

    @include mobile {
      align-self: center;

      margin: 2rem auto;
    }
  }

  .navbar-nav {
    display: inline-block;

    align-self: flex-end;

    @include mobile {
      align-self: center;
    }

    .navbar-item {
      display: inline-block;
      padding: 0 1rem;
    }
  }
}
