/**
 * typography.scss - Typography
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 { font-size: 2em; }

h2 {
  font-size: 2em;
  font-weight: normal;
  color: $color-subtitle;
}

h3 { font-size: 1.5em; }

.accent {
  font-weight: bold;
  color: $color-primary;
}

.text-center {
  text-align: center;
}
