/**
 * variables.scss - Variables
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 */

$color-primary: #BF0289;
$color-secondary: #F7C644;
$color-tertiary: #FD7972;

$border-radius: 5px;
