/**
 * index.scss - application stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 */

$global-link-color: #BF0289;

@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
