<nav class="navbar">
  <%= image_tag 'logo.png', :class => 'navbar-brand' %>

  <ul class="navbar-nav">
    <li class="navbar-item"><a href="#">Sign up</a></li>
    <li class="navbar-item"><a href="#" class="btn">Download app</a></li>
  </ul>
</nav>

<main>
</main>
