<%= content_for 'title' do %>Landing<% end %>

<%= render 'partials/navbar' %>

<main class="main">
  <section class="section">
    <h1 class="accent">Hello there! This is remindre</h1>
    <h2>A quick set-and-forget reminder app</h2>
  </section>

  <section class="section text-center">
    <h1 class="accent">Forgetful? A lot on your mind?</h1>
    <h2>Setting a reminder is just a few taps away</h2>

    <div class="showcase">
      <div class="showcase-icon">
        <i class="fa fa-cloud-upload"></i>
        <div class="showcase-text">
          synced to the cloud
        </div>
      </div>
      <div class="showcase-icon">
        <i class="fa fa-mobile-phone"></i>
        <div class="showcase-text">
          on all your devices
        </div>
      </div>
      <div class="showcase-icon">
        <i class="fa fa-plane"></i>
        <div class="showcase-text">
          works even offline
        </div>
      </div>
    </div>
  </section>

  <section class="section text-center">
    <h1 class="accent">Get your priorities in order</h1>
    <h2>Never miss a deadline again</h2>

    <div class="showcase">
      <div class="showcase-icon">
        <i class="fa fa-flag"></i>
        <div class="showcase-text">
          prioritize tasks
        </div>
      </div>
      <div class="showcase-icon">
        <i class="fa fa-comments"></i>
        <div class="showcase-text">
          connect with others
        </div>
      </div>
      <div class="showcase-icon">
        <i class="fa fa-calendar-o"></i>
        <div class="showcase-text">
          set recurring reminders
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-block footer-block-2x">
      <div class="footer-brand">remindre</div>
      <div class="footer-text">
        remindre is the easiest way to schedule your day to day life.
      </div>

      <div>
        <a href="https://florian.dejonckhee.re/">&copy; 2017 Florian Dejonckheere</a>
      </div>
    </div>

    <div class="footer-block">
      <div class="footer-title">learn more</div>
      <div class="footer-text">
        <ul class="footer-text footer-list">
          <li><a href="#">find support</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">terms of service</a></li>
          <li><a href="#">for developers</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-block">
      <div class="footer-title">remindre</div>
      <div class="footer-text">
        <ul class="footer-text footer-list">
          <li><a href="#">about us</a></li>
          <li><a href="#">contact us</a></li>
          <li class="footer-icons">
            <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
            <a href="#"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
            <a href="#"><i class="fa fa-google fa-lg fa-fw"></i></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</footer>
