<%= content_for 'title' do %>Landing<% end %>

<%= render 'partials/navbar' %>

<main class="main">
  <section class="section">
    <h1 class="accent">Hello there! This is Remindre</h1>
    <h2>A quick set-and-forget reminder app</h2>
  </section>

  <section class="section text-center">
    <h1 class="accent">Forgetful? A lot on your mind?</h1>
    <h2>Quickly set what you'd like to be reminded of, and when</h2>

    <div class="showcase">
      <div class="showcase-icon">
        <i class="fa fa-cloud-upload"></i>
        <div>
          Synced to the cloud
        </div>
      </div>
      <div class="showcase-icon">
        <i class="fa fa-mobile-phone"></i>
        <div>
          On all your devices
        </div>
      </div>
      <div class="showcase-icon">
        <i class="fa fa-share-alt"></i>
        <div>
          Share it with others
        </div>
      </div>
    </div>
  </section>
</main>
