<%= content_for 'title' do %>Landing<% end %>

<%= render 'partials/navbar' %>

<main class="main">
  <section class="section">
    <h1 class="accent">Hello there! This is Remindre</h1>
    <h2>A quick set-and-forget reminder app</h2>
  </section>

  <section class="section text-center">
    <h1 class="accent">Forgetful? A lot on your mind?</h1>
    <h2>Setting a reminder is just a few taps away</h2>

    <div class="showcase">
      <div class="showcase-icon">
        <i class="fa fa-cloud-upload"></i>
        <div>
          synced to the cloud
        </div>
      </div>
      <div class="showcase-icon">
        <i class="fa fa-mobile-phone"></i>
        <div>
          on all your devices
        </div>
      </div>
      <div class="showcase-icon">
        <i class="fa fa-plane"></i>
        <div>
          works even offline
        </div>
      </div>
    </div>
  </section>

  <section class="section text-center">
    <h1 class="accent">Get your priorities in order</h1>
    <h2>Never miss a deadline again</h2>

    <div class="showcase">
      <div class="showcase-icon">
        <i class="fa fa-flag"></i>
        <div>
          prioritize tasks
        </div>
      </div>
      <div class="showcase-icon">
        <i class="fa fa-comments"></i>
        <div>
          connect with others
        </div>
      </div>
      <div class="showcase-icon">
        <i class="fa fa-calendar-o"></i>
        <div>
          set recurring reminders
        </div>
      </div>
    </div>
  </section>
</main>
