<!DOCTYPE html>
<html>
  <head>
    <title>Remindre</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'remindre' %>
    <%= stylesheet_pack_tag 'remindre' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
